@import url(//db.onlinewebfonts.com/c/12420e8c141ca7c3dff41de2d59df13e?family=BeaufortforLOL-Bold);
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

main{
    overflow-x: hidden;
}

.champions-pai{
    width: 100vw;
    background: hsla(212, 100%, 4%, 0.993);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.champions-wpp{
    width: 100%;
    height: 40rem;
    margin-top: 5.7%;
   
}
.champions-wpp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.champion-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.champion-info h2{
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: 'BeaufortforLOL-Bold', sans-serif;
    margin-top: 2%;
}

.champion-info h1{
    color: white;
    font-size: 6.5rem;
    text-align: center;
    font-family: 'BeaufortforLOL-Bold', sans-serif;
}

.quadrado{
    width: 70rem;
    height: 20rem;
    border: 1px solid rgba(255, 255, 255, 0.603);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.champion-func{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.champion-func h3{
    color: white;
    font-size: 1.3rem;
}

.champion-func p{
    color: #cccc2d;
    font-size: 1.3rem;
}

.champion-func-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.champion-func-2 img{
    width: 50%;
}


.champion-historia{
    width: 50%;
    border-left: 1px solid white;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 60px;
    font-family: 'Raleway';
}

.champion-historia p{
    width: 100%;
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
}

.champion-skins{
   width: 80%;
   margin-top: 5%;
}