.card-content{
    display: flex;
    flex-direction: column;
    background: white;
    width: 20rem;
    height: 25rem;
    margin-top: 1%;
    margin: 15px 15px;
   
}

.card-img{
    width: 100%;
    height: 85%;
    background: #171718;
    border-bottom-right-radius:calc(0rem);
    border-bottom-left-radius:calc(0rem);
  
}

.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.img-rigth img{
    object-position: right;
}

.card-name{
    width: 100%;
    height: 15%;
    background: #061D27;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-name h2{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
}

.card-name:hover{
    background: #092f3f;
    cursor: pointer;
}


