*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h5{
    margin-bottom: 0;
}

.header{
    width: 100vw;
    height: 12vh;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    background: rgba(8, 9, 14, 0.973);
    z-index: 10;
}

.header ul{
    display: flex;
    flex-direction: row;
    color: white;
    width: 100%;
    margin-bottom: 0;
}

.logo{
    width: 30%;
    height: 100%;
   
}

.riot-logo{
    background-image: url(riot-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 4rem;
    object-fit: cover;
    margin-top: 5%;
    margin-left: 20%;
    cursor: pointer;
}

.me-6{
    margin-right: 10rem;
}

.ms-6{
    margin-left: 5rem;
}

.header h1{
    color: white;
    cursor: default;
    
}

.header ul li{
    font-size: 1.3rem;
    margin: 35px;
    list-style-type: none;
    cursor: pointer;
}

.header input{
    width: 470px;
}


a{
    text-decoration: none;
    color: white;
}

