*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


.paizao{
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}

.bloco1{
    width: 100%;
    height: 100vh;
    background-image: url(./imgs/zed-campeonato.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}




.css-yymkrn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto auto;
}