.champion-skin{
    width: 100%;
    height: 42rem;
    
}

.champion-skin img{
    width: 100%;
    height: 42rem;
    object-fit: cover;
    object-position: top;
    position: relative;
    top: 72px;
}

.skin-lado{
    width: 35%;
    height: 42rem;
    background: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
    top: -600px;
}

.skin-lado h1{
    color: white;
    margin-top: 8%;
    text-align: center;
}

.linha{
    width: 80%;
    border: none;
    border-bottom: solid 1px white;
    margin: 10px auto;
}



/*SKIN MINIATURA*/

.skin-mini{
    display: flex;
    flex-direction: row;
    padding: 1px 30px;
    margin-top: 5%;
    align-items: center;
    margin-left: 4%;
}

.skin-mini img{
    object-fit: cover;
    width: 150px;
    height: 80px;
    cursor: pointer;
    filter: grayscale(60%);
    transition: .1s ease-in;
    position: inherit;
    object-position: top;
}

.skin-mini h2{
    color: white;
    font-size: 1.1rem;
    margin-left: 3%;
    cursor: pointer;
}

.skin-mini img:hover{
    filter: grayscale(0);
}